<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headfiles.html :: headfiles (title='Astefics - Stagiaires')}"></head>
<body>
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="text-center mt-3" style="color: cornflowerblue">
    <h1 class="mt-4" th:text="'Détails du stagiaire ' + ${student.id}"></h1>
</div>
<div class="text-center mt-3" th:object="${student}">
    <table class="table table-dark table-hover table-striped-columns m-auto mt-5" style="width: fit-content">
        <tbody>
        <tr>
            <td>Id</td>
            <td th:text="*{id}"></td>
        </tr>
        <tr>
            <td>Nom</td>
            <td th:text="*{lastname}"></td>
        </tr>
        <tr>
            <td>Prénom</td>
            <td th:text="*{firstname}"></td>
        </tr>
        </tbody>
    </table>
</div>
<div class="text-center mt-5">
    <a class="btn btn-success mx-2" th:href="@{/modifyStudent/{id}(id=${student.id})}"><i class="bi bi-pencil"
                                                                                          style="margin-right: 6px"></i>Modifier</a>
    <a class="btn btn-warning mx-2 text-danger" th:onclick="askConfirmationDelete([[${student.id}]])"><i
            class="bi bi-trash"
            style="margin-right: 6px"></i>Supprimer</a>
</div>
<div class="text-center mt-5" style="color: cornflowerblue">
    <h2 class="mt-4" th:text="'Inscriptions du stagiaire'"></h2>
</div>
<p class="text-center mt-5" th:if="${student.getFormations().size() == 0}">Inscrit à aucune formation</p>
<table class="table table-dark table-hover table-striped m-auto mt-3" style="width: fit-content"
       th:if="${student.getFormations().size() != 0}">
    <thead>
    <tr>
        <th class="align-middle text-center" scope="col">Id</th>
        <th class="align-middle text-center" scope="col">Catégorie</th>
        <th class="align-middle text-center" scope="col">Nom</th>
        <th class="align-middle text-center" scope="col">Niveau</th>
        <th class="align-middle text-center" scope="col">Formateur</th>
        <th class="align-middle text-center" scope="col">Date</th>
        <th class="align-middle text-center" scope="col">Durée</th>
        <th class="align-middle text-center" scope="col">Prix</th>
        <th class="align-middle text-center" scope="col">En ligne</th>
        <th class="align-middle text-center" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="formation: ${student.getFormations()}">
        <td class="align-middle text-center px-3" th:text="${formation.id}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.category.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.level.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.teacher.lastname}"></td>
        <td class="align-middle text-center px-3" th:text="${#dates.format(formation.begin_at, 'dd-MM-yyyy')}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.nbDays} + ' jours'"></td>
        <td class="align-middle text-center px-3" th:text="${formation.price} + '€'"></td>
        <td class="align-middle text-center px-3" th:text="${formation.online} ? 'oui' : 'non'"></td>
        <td class="align-middle text-center px-3 py-3">

            <a class="btn btn-primary mx-2" th:href="@{/formation/{id}(id=${formation.id})}"><i class="bi bi-card-text"
                                                                                                style="margin-right: 6px"></i>Afficher
                Détails</a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function askConfirmationDelete(id) {
        if (confirm("Voulez vous vraiment supprimer ce formateur ?")) {
            document.location.assign("/deleteStudent/" + id)
        }
    }
</script>
</body>
</html>