<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headfiles.html :: headfiles (title='Astefics - Formations')}"></head>
<body>
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="text-center mt-3" style="color: cornflowerblue">
    <h1 class="mt-4">Formations</h1>
    <a class="btn btn-primary mt-4" href="/newFormation">Créer une nouvelle formation</a>
</div>
<p class="text-center mt-5" th:if="${formations.size() == 0}">Pas encore de formations sauvegardées !</p>
<table class="table table-dark table-hover table-striped m-auto mt-3" style="width: fit-content"
       th:if="${formations.size() != 0}">
    <thead>
    <tr>
        <th class="align-middle text-center" scope="col">Id</th>
        <th class="align-middle text-center" scope="col">Catégorie</th>
        <th class="align-middle text-center" scope="col">Nom</th>
        <th class="align-middle text-center" scope="col">Niveau</th>
        <th class="align-middle text-center" scope="col">Formateur</th>
        <th class="align-middle text-center" scope="col">Date</th>
        <th class="align-middle text-center" scope="col">Durée</th>
        <th class="align-middle text-center" scope="col">Prix</th>
        <th class="align-middle text-center" scope="col">En ligne</th>
        <th class="align-middle text-center" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="formation: ${formations}">
        <td class="align-middle text-center px-3" th:text="${formation.id}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.category.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.level.name}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.teacher.lastname}"></td>
        <td class="align-middle text-center px-3" th:text="${#dates.format(formation.begin_at, 'dd-MM-yyyy')}"></td>
        <td class="align-middle text-center px-3" th:text="${formation.nbDays} + ' jours'"></td>
        <td class="align-middle text-center px-3" th:text="${formation.price} + '€'"></td>
        <td class="align-middle text-center px-3" th:text="${formation.online} ? 'oui' : 'non'"></td>
        <td class="align-middle text-center px-3 py-3">

            <a class="btn btn-primary mx-2" th:href="@{/formation/{id}(id=${formation.id})}"><i class="bi bi-card-text"
                                                                                                style="margin-right: 6px"></i>Afficher
                Détails</a>
            <a class="btn btn-success mx-2" th:href="@{/modifyFormation/{id}(id=${formation.id})}"><i
                    class="bi bi-pencil"
                    style="margin-right: 6px"
            ></i>Modifier</a>
            <a class="btn btn-warning mx-2 text-danger" th:onclick="askConfirmationDelete([[${formation.id}]])"><i
                    class="bi bi-trash"
                    style="margin-right: 6px"></i>Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function askConfirmationDelete(id) {
        if (confirm("Voulez vous vraiment supprimer cette formation ?")) {
            document.location.assign("/deleteFormation/" + id)
        }
    }
</script>
</body>
</html>