<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headfiles.html :: headfiles (title='Astefics - nouveau formateur')}"></head>
<body>
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="text-center mt-3" style="color: cornflowerblue">
    <h1 class="mt-4">Nouveau formateur</h1>
</div>
<form class="w-25 m-auto mt-4" method="post" th:object="${teacher}">
    <div class="mb-3">
        <label class="form-label">Prénom</label>
        <input class="form-control" id="firstname" th:field="*{firstname}">
    </div>
    <div class="mb-3">
        <label class="form-label">Nom</label>
        <input class="form-control" id="lastname" th:field="*{lastname}">
    </div>
    <button class="btn btn-primary w-25 m-auto mt-3" type="submit">Valider</button>
</form>
</body>
</html>