<!DOCTYPE html>
<html lang="fr" xmlns:th="http://www.thymeleaf.org">
<head th:replace="~{fragments/headfiles.html :: headfiles (title='Astefics - Formateurs')}"></head>
<body>
<nav th:replace="~{fragments/navbar.html :: navbar}"></nav>
<div class="text-center mt-3" style="color: cornflowerblue">
    <h1 class="mt-4">Formateurs</h1>
    <a class="btn btn-primary mt-4" href="/newTeacher">Créer un nouveau formateur</a>
</div>
<p class="text-center mt-5" th:if="${teachers.size() == 0}">Pas encore de formations sauvegardées !</p>
<table class="table table-dark table-hover table-striped m-auto mt-3" data-toggle="table" style="width: fit-content"
       th:if="${teachers.size() != 0}">
    <thead>
    <tr>
        <th class="align-middle text-center" data-field="id" data-sortable="true" scope="col">Id</th>
        <th class="align-middle text-center" scope="col">Nom</th>
        <th class="align-middle text-center" scope="col">Prénom</th>
        <th class="align-middle text-center" scope="col">Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="teacher: ${teachers}">
        <td class="align-middle text-center px-3" th:text="${teacher.id}"></td>
        <td class="align-middle text-center px-3" th:text="${teacher.lastname}"></td>
        <td class="align-middle text-center px-3" th:text="${teacher.firstname}"></td>
        <td class="align-middle text-center px-3 py-3">
            <a class="btn btn-primary mx-2" th:href="@{/teachers/{id}(id=${teacher.id})}"><i class="bi bi-card-text"
                                                                                             style="margin-right: 6px"></i>Afficher
                Détails</a>
            <a class="btn btn-success mx-2" th:href="@{/modifyTeacher/{id}(id=${teacher.id})}"><i class="bi bi-pencil"
                                                                                                  style="margin-right: 6px"
            ></i>Modifier</a>
            <a class="btn btn-warning mx-2 text-danger" th:onclick="askConfirmationDelete([[${teacher.id}]])"><i
                    class="bi bi-trash"
                    style="margin-right: 6px"></i>Supprimer</a>
        </td>
    </tr>
    </tbody>
</table>
<script>
    function askConfirmationDelete(id) {
        if (confirm("Voulez vous vraiment supprimer ce formateur ? Cela entraînera également la suppression de ses formations")) {
            document.location.assign("/deleteTeacher/" + id)
        }
    }
</script>
</body>
</html>