<nav class="navbar navbar-expand-lg bg-body-tertiary " data-bs-theme="dark" th:fragment="navbar"
     xmlns:th="http://www.thymeleaf.org">
    <div class="container-fluid">
        <a class="navbar-brand" href="#">Astefics</a>
        <button aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation"
                class="navbar-toggler"
                data-bs-target="#navbarSupportedContent" data-bs-toggle="collapse" type="button">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarSupportedContent">
            <ul class="navbar-nav me-auto mb-2 mb-lg-0">
                <li class="nav-item">
                    <a class="nav-link" href="#">Formations</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Categories</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Formateurs</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link" href="#">Stagiaires</a>
                </li>
            </ul>
        </div>
    </div>

</nav>